*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing:inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  /* es el % de 16px que es lo habitual en los navegadores, se añade % por tema de accesibilidad, así el usuario puede aumentar el tamaño de letra */
  
  // siempre se debe ordenar de mayor a menor, para que aplique bien los cambios
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12; 12/16 = 75%
  }
  
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; 8/16 = 50%
  }
  
  @include respond(phone) {
    font-size: 50%; // 1rem = 8px; 8/16 = 50%
  }
}

body {
  box-sizing: border-box; 
  position: relative;
}